@import "variables";

.left-content {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 2rem;
  margin-bottom: 50px;
  width: 70%;
  
  h1 {
    color: $principal-color-text
  }
  .card {
    cursor: pointer;
    width: 250px;
    border-radius: 1rem;
    padding: 0 .1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      text-transform: capitalize;
      width: 135px;
    }

    p {
      color: #dbf5ff;
      transform: translate(-2rem, -1.5rem);
    }
  }
}
