
// Principal variables
// 1f2325
$principal-color-bg: #efefef;
$principal-color-text: #efefef;

// Types variables
$type-color-text: aliceblue;

// Types bg

$grass-color-bg: #03925b;
$poison-color-bg: #c060f8;
$fire-color-bg: #e42;
$flying-color-bg: #33e3e9;
$water-color-bg: #1a4df5;
$bug-color-bg: #18ff52;
$normal-color-bg: #cccccc;
$electric-color-bg: #ffc64b;
$ground-color-bg: #f5d58f;
$fairy-color-bg: #db74f0;
$fighting-color-bg: #9c4646;
$psychic-color-bg: #db98f0;
$ice-color-bg: #00f7ff;
$rock-color-bg: #ac9d6d;
$dark-color-bg: #5e5c56;
$ghost-color-bg: #6300d4;
$dragon-color-bg: #881fff;
$steel-color-bg: #fffeee;



// Types border
$grass-color-border: #0a5a3b;
$poison-color-border: #630897;
$fire-color-border: #832512;
$flying-color-border: #23979b;
$water-color-border: #112e8f;
$bug-color-border: #107c2b;
$normal-color-border: #787878;
$electric-color-border: #a78233;
$ground-color-border: #978359;
$fairy-color-border: #954fa3;
$fighting-color-border: #422020;
$psychic-color-border: #9d6cac;
$ice-color-border: #00686b;
$rock-color-border: #ac9d6d;
$dark-color-border: #353431;
$ghost-color-border: #350072;
$dragon-color-border: #3d126e;
$steel-color-border: #a7a79a;


// Types text

$steel-color-text: #545454